.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ensure it doesn't overlap the navbar */
  padding: 0;
  background-color: #1F2937;
}

body {
  margin: 0;
  background-color: #1F2937;
  font-family: 'Nunito', sans-serif;
}

nav {
  background-color: #1F2937;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.nav-links {
  display: flex;
  gap: 1rem;
  list-style: none;
}

li a {
  text-decoration: none;
  color: white;
  transition: color 0.2s ease-in-out;
}

li a:hover {
  color: gray;
}

main {
  padding-top: 4rem; /* Prevents content from overlapping with the navbar */
}
